<div class="snippets-settings-dialog modal">
    <div class="modal-header">
        <h1 class="dialog-title">{{ Strings.SETTINGS }}</h1>
    </div>
    <div class="modal-body">
        <div class="section-header">{{ Strings.EXTENSION_SHORTCUT }}</div>
        <div class="form-horizontal">
            <div class="control-group">
                <input class="full-width" name="extension-shortcut" x-preference="triggerSnippetShortcut" type="text" />
            </div>
        </div>

        <div class="section-header">{{ Strings.DEFAULT_SNIPPET_DIRECTORY }}</div>
        <div class="form-horizontal">
            <div class="control-group">
                <input class="full-width" name="default-snippet-directory" x-preference="defaultSnippetDirectory" type="text" />
            </div>
            <div class="control-group">
                <div class="btn-group default-snippet-directory-btns">
                  <button class="btn btn-mini open-in-os-btn">Open in OS</button>
                  <button class="btn btn-mini reset-default-directory-btn">Reset to default</button>
                </div>
            </div>
        </div>

        <hr>

        <div class="section-header">{{ Strings.GIST_AUTHORIZATION }}</div>
        <p>
            {{ Strings.GIST_AUTH_HINT }}
            <a href="#" class="access-token-link">https://github.com/settings/applications</a>
        </p>
        <div class="form-horizontal">
            <div class="control-group">
                <label class="control-label">{{ Strings.PERSONAL_TOKEN }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input name="github-token" type="text" />
                        <button class="btn btn-connect-github">{{ Strings.CONNECT }}</button>
                        <button class="btn btn-clear-github">{{ Strings.CLEAR }}</button>
                    </div>
                </div>
            </div>
            <p class="github-connect-response"></p>
        </div>

        <hr>

        <div class="section-header">{{ Strings.SNIPPET_DIRECTORIES }}</div>
        <table class="table table-bordered table-striped table-hover table-condensed">
            <colgroup>
                <col span="1" width="25" />
                <col span="1" width="25" />
                <col span="1" width="*" />
            </colgroup>
            {{ #SnippetDirectories }}
                <tr class="snippet-directory-entry" x-fullpath="{{ fullPath }}">
                    <td class="text-center">
                        <input class="snippet-directory-entry-autoload" type="checkbox" {{#autoLoad}}checked="checked"{{/autoLoad}} />
                    </td>
                    <td class="text-center">
                        {{ ^isDefault }}
                            <span class="snippet-directory-entry-delete">&times;</span>
                        {{ /isDefault }}
                    </td>
                    <td class="snippet-directory-fullpath" title="{{ fullPath }}">
                        {{ fullPathDisplay }}
                    </td>
                </tr>
            {{ /SnippetDirectories }}
        </table>
        <button class="btn btn-add-snippet-directory">{{ Strings.SNIPPET_DIRECTORY_ADD }}</button>
    </div>
    <div class="modal-footer">
        <button class="btn left btn-gist-import">{{ Strings.IMPORT_FROM_GIST }}</button>
        <button class="btn left btn-gist-export">{{ Strings.EXPORT_TO_GIST }}</button>
        <button class="dialog-button btn primary" data-button-id="ok">{{ Strings.CLOSE }}</button>
    </div>
</div>
