<div class="snippets-settings-dialog modal">
    <div class="modal-header">
        <h1 class="dialog-title">{{ Strings.SETTINGS }}</h1>
    </div>
    <div class="modal-body">
        <div class="section-header">{{ Strings.EXTENSION_SHORTCUT }}</div>
        <div class="form-horizontal">
            <div class="control-group">
                <input class="full-width" name="extension-shortcut" x-preference="triggerSnippetShortcut" type="text" />
            </div>
        </div>

        <hr>

        <div class="section-header">{{ Strings.GIST_AUTHORIZATION }}</div>
        <p>
            {{ Strings.GIST_AUTH_HINT }}
            <a href="#" class="access-token-link">https://github.com/settings/applications</a>
        </p>
        <div class="form-horizontal">
            <div class="control-group">
                <label class="control-label">{{ Strings.PERSONAL_TOKEN }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input name="github-token" type="text" />
                        <button class="btn btn-connect-github">{{ Strings.CONNECT }}</button>
                        <button class="btn btn-clear-github">{{ Strings.CLEAR }}</button>
                    </div>
                </div>
            </div>
            <p class="github-connect-response"></p>
        </div>

        <hr>

        <div class="section-header">{{ Strings.SNIPPET_DIRECTORIES }}</div>
        {{ #SnippetDirectories }}
            <div class="snippet-directory-entry" x-fullpath="{{ fullPath }}">
                <input class="snippet-directory-entry-autoload" type="checkbox" {{#autoLoad}}checked="checked"{{/autoLoad}} />
                {{ fullPath }}
            </div>
        {{ /SnippetDirectories }}
        <button class="btn btn-add-snippet-directory">{{ Strings.ADD_SNIPPET_DIRECTORY }}</button>
    </div>
    <div class="modal-footer">
        <button class="btn left btn-gist-import">{{ Strings.IMPORT_FROM_GIST }}</button>
        <button class="btn left btn-gist-export">{{ Strings.EXPORT_TO_GIST }}</button>
        <button class="dialog-button btn primary" data-button-id="ok">{{ Strings.CLOSE }}</button>
    </div>
</div>
