<div class="brackets-snippets-widget">
    <div class="btn-group btn-group-vertical">
        <button class="btn btn-mini new-snippet" title="New snippet">N</button>
        <button class="btn btn-mini" title="Edit snippet">E</button>
        <button class="btn btn-mini" title="Delete snippet">D</button>
    </div>
    <div class="left-column">
        <input type="text" class="snippet-search-input" />
        <div class="snippets-list">
            <!-- content for this is rendered through SnippetWidgetList.html template -->
        </div>
    </div>
    <div class="center-column">
        <div class="current-snippet">
            <div class="snippet-name"></div>
            <pre></pre>
        </div>
    </div>
</div>
