<div class="brackets-snippets-widget">
    <div class="btn-group btn-group-vertical">
        <button class="btn btn-mini new-snippet" title="New snippet">N</button>
        <button class="btn btn-mini edit-snippet" title="Edit snippet">E</button>
        <button class="btn btn-mini delete-snippet" title="Delete snippet [Shift-Click to delete ALL]">D</button>
        <button class="btn btn-mini snippets-settings" title="Settings">S</button>
    </div>
    <div class="left-column">
        <input type="text" class="snippet-search-input" />
        <div class="snippets-list">
            <!-- content for this is rendered through SnippetWidgetList.html template -->
        </div>
    </div>
    <div class="center-column">
        <div class="current-snippet">
            <div class="snippet-header">
                <span class="snippet-name"></span>
                <span class="snippet-path"></span>
            </div>
            <pre></pre>
        </div>
    </div>
</div>
