<div class="brackets-snippets-widget">
    <div class="left-column">
        <input type="text" class="snippet-search-input" />
        <div class="snippets-list">
            <!-- content for this is rendered through SnippetWidgetList.html template -->
        </div>
    </div>
    <div class="center-column">
        <div class="current-snippet">
            <div class="snippet-name"></div>
            <pre></pre>
        </div>
    </div>
    <div class="right-column">
        S
    </div>
</div>
