<div class="snippet-dialog modal">
    <div class="modal-header">
        <h1 class="dialog-title">{{Strings.SNIPPET_DIALOG}}</h1>
    </div>
    <div class="modal-body">
        <input type="text" class="snippet-name" placeholder="{{Strings.SNIPPET_NAME}}">
        <textarea class="snippet-editor"></textarea>
    </div>
    <div class="modal-footer">
        <button class="btn-load-from-gist btn left">Load from Gist&hellip;</button>
        <button class="dialog-button btn" data-button-id="cancel">{{Strings.CANCEL}}</button>
        <button class="dialog-button btn primary" data-button-id="ok">{{Strings.OK}}</button>
    </div>
</div>
