@import "_mixins.less";

@borderColor: #b2b5b5;
@white: #ffffff;
@selectedEntry: #e0f0fa;
@codeEditorBackground: #f8f8f8;
@colorError: #d9534f;

.brackets-snippets-widget {
    position: absolute;
    left: 40px;
    right: 10px;
    top: 10px;
    bottom: 10px;

    .btn-group-vertical {
        position: absolute;
        left: -30px;
        top: 25px;

        .btn-mini {
            width: 22px;
        }
    }

    .left-column {
        float: left;

        .snippets-list {
            position: relative; // !important
            border: 1px solid @borderColor;
            max-height: 90px;
            max-width: 218px;
            overflow-x: hidden;
            overflow-y: scroll;

            &.is-empty {
                border: none;
                overflow: auto;
            }

            .dark & {
                border: 1px solid @white;
            }

            .snippet-entry {
                background-color: @white;
                &.selected {
                    background-color: @selectedEntry;
                }
            }
        }
    }

    .center-column {
        position: absolute;
        left: 220px;
        right: 0;

        .current-snippet {
            margin: 0 1em;

            .snippet-name {
                margin-bottom: 0.5em;
            }

            pre {
                background-color: @codeEditorBackground;
                border: 1px solid @borderColor;
                min-height: 106px;
                max-height: 106px;
                overflow-y: scroll;

                .variable {
                    .code-font();
                    box-sizing: border-box;
                    padding: 0;
                    margin: 0;
                    position: relative;
                    top: -1px;

                    &.required {
                        border-color: @colorError;
                        box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.06), 0 0 0 1px @colorError;
                    }
                }
            }
        }
    }

}

.snippet-dialog {

    .snippet-name, .snippet-editor {
        .full-width();
    }

    .snippet-editor {
        height: 10em;
    }

}

.snippets-question-dialog {

    input {
        .full-width();
    }

}

.snippets-settings-dialog {

    .section-header {
        font-weight: bold;
    }

    .full-width {
        .full-width();
    }

}

.brackets-snippets.error-dialog {

    .modal-header {
        background-color: @colorError;
    }

    .dialog-message {
        white-space: pre;
        overflow-x: scroll;
        -webkit-user-select: text;
        user-select: text;
    }

}
