@borderColor: #b2b5b5;
@white: #ffffff;
@selectedEntry: #e0f0fa;
@codeEditorBackground: #f8f8f8;

.brackets-snippets-widget {
    position: absolute;
    left: 40px;
    right: 10px;
    top: 10px;
    bottom: 10px;

    .left-column {
        float: left;

        .snippets-list {
            border: 1px solid @borderColor;
            max-height: 80px;
            overflow-x: hidden;
            overflow-y: scroll;

            .dark & {
                border: 1px solid @white;
            }

            .snippet-entry {
                background-color: @white;
                &.selected {
                    background-color: @selectedEntry;
                }
            }
        }
    }

    .center-column {
        float: left;

        .current-snippet {
            margin: 0 1em;

            .snippet-name {
                margin-bottom: 0.5em;
            }

            pre {
                background-color: @codeEditorBackground;
                border: 1px solid @borderColor;
                min-height: 5em;
            }
        }
    }

    .right-column {
        float: right;
        margin-right: 1em;
    }

}

.snippet-dialog {

    .snippet-name, .snippet-editor {
        box-sizing: border-box;
        width: 100%;
    }

    .snippet-editor {
        height: 10em;
    }

}
